.navigation{
    display: flex;
   justify-content: space-between;
   padding: 0 8px;
   align-items: center;
   
   height: 72px;
 }
 /* .logo{
   max-width: 1440px;
   display: flex;
   justify-content: space-between;
 } */

  .navigation ul{
   display: flex;
   gap: 24px;
   list-style: none;
   font-weight: 500;
 }